*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 43rem;
    margin: 0 auto;
    /* padding: 0 3.2rem; */
}

.hero{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-img{
    width: 36.4rem;
    grid-row: 1;
    justify-self: center;
    margin-bottom: 1.7rem;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox{
    height: 5.9rem;
    margin-top: 1.7rem;
}

.hero-title{
    color: #B52184;
    height: 4rem;
    font-size: 3.2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    justify-self: top;

}

.hero-description{    
    color: #312D64;
    font-size: 2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-arrow{
    margin-top: 3.5rem;
    height: 10.5rem;
    margin-bottom: 9.3rem;
}

/* .line{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.motivational{
    padding: 4.9rem 0;
    background-image: linear-gradient(to right bottom, #343193, #412C63);
}

.motivational-item{
    margin: 5.3rem 3.9rem;
    padding: 2.65rem 5.9rem 2.65rem 2.65rem;
    background-color: white;
    border-radius: 20px;
}

.img-planet{
    width: 80px;
    height: 80px;
    margin-bottom: 33px;
}

.motivational-item-title{
    font-size: 29px;
    margin-bottom: 20px;
    font-weight: 900;
    color: #B52184;
}

.motivational-item-desc{
    font-size: 1.6rem;
    font-weight: 600;
    color: #312D64;
}
